.favorites {
    color: $text;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em;
    min-height: 80vh;
    width: 95%;

    h1 {
        text-align: center;
        margin: 1em 0;
    }
    .container {
        background-color: $clr2;
        margin: 0;
        padding: 1.5em 2em;
        border-radius: 0.5em;
    }

    .weather-quote {
        margin-bottom: 3em;
    }

    .quote {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .author {
        font-weight: bold;
        text-align: end;
    }
}

@include for-wide-layout {
    .favorites {
        max-width: 1280px;
        
        .quote {
            text-align: center;
        }
    }

}
