.location-details {
    position: relative;
    background-color: $clr2;
    margin: 0 auto;
    padding: 3.5em 1.5em 1.5em;
    margin-bottom: 1.5em;
    width: 90%;
    max-width: 1280px;
    border-radius: 1em;

    header {
        display: flex;
        justify-content: center;
    }

    .current-weather {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        h3 {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }
    }

    h2 {
        text-align: center;
        font-size: 1.5em;
        margin: 3em auto;
    }

    .actions {
        top: 0.5em;
        right: 1em;
        position: absolute;
        display: flex;
        align-items:center;
        height: 2.5em;
        input {
            margin-inline-start: 1em;
        }
    }
}



