
// Aspect ratios

// .ratio-16-9 { @include aspect-ratio(100, 56); }

// .ratio-square { @include aspect-ratio(100, 100); }

// .ratio-poster { @include aspect-ratio(100, 150); }

// GRADIENTS
.grad-red {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(125,38,38,1) 81%, rgba(193,44,44,1) 100%);
}
.grad-sky {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(38,112,125,1) 81%, rgba(44,165,193,1) 100%);
}
.grad-mint {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(38,125,100,1) 81%, rgba(44,193,153,1) 100%);
}
.grad-orange {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(125,78,38,1) 81%, rgba(193,112,44,1) 100%);
}
.grad-blue {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(38,71,125,1) 81%, rgba(44,80,193,1) 100%);
}
.grad-pink {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(125,38,103,1) 81%, rgba(193,44,148,1) 100%);
}
.grad-purple {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(107,38,125,1) 81%, rgba(149,44,193,1) 100%);
}
.grad-green {
    background: linear-gradient(0deg, rgba(29,29,29,1) 47%, rgba(43,113,61,1) 81%, rgba(51,154,63,1) 100%);
}

// TRANSITIONS 
.page-enter-active, .page-leave-active {
    transition: all .3s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s;
}
// Probably change to .fade-enter-from
.fade-enter, .fade-leave-to {
    opacity: 0;
}


//FLEX

.flex {
    display: flex;
    &.d-col{
        flex-direction: column;
    }
    &.d-row{
        flex-direction: row;
    }
    &.jc-center{
        justify-content: center;
    }
    &.jc-between{
        justify-content: space-between;
    }
    &.ai-center{
        align-items: center;
    }
    &.fw-wrap {
        flex-wrap: wrap;
    }
}


//Buttons

.btn {
    width: 2.8em;
    height: 2.8em;
}


