// COLOR PALETTE
$text: #eee;
$clr1: #ffffff;
$clr2: rgba(60, 130, 220, 0.65);
$clr3: rgba(120, 180, 240, 0.8);
$clr4: rgba(50, 85, 120, 0.8);
$clr5: rgba(230, 175, 80, 0.9);

// CONSTANT FIXED CMPS SIZE
$appHeader: 4em;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 512px;
$break-normal: 768px;
$break-wide: 1024px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
