.blur-screen {
    // z-index: 50;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // opacity: 0;
    // transition: all 0.4s;

    // background-color: rgba(0, 0, 0, 0.1);
}
