.day-list {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 20px;

    // >* {
    //     flex-basis: 20%;
    // }
}


@media screen and (min-width: 642px) {
    .day-list {
        > *:nth-child(5) {
            transform: translateX(50%);
        }
    } 
}

@media screen and (min-width: 935px) {
    .day-list {
        > *:nth-child(4) {
            transform: translateX(50%);
        }
    } 
}

@media screen and (min-width: 1227px) {
    .day-list {
        > *:nth-child(4) {
            transform: translateX(0);
        }
        *:nth-child(5) {
            transform: translateX(165%);
        }
    } 
}

@media screen and (min-width: 1343px) {
    .day-list {
        *:nth-child(5) {
            transform: translateX(0);
        }
    } 
}

